body{
    margin: 0;
    background: url(../img/fondo.jpg) no-repeat center;
    background-size: cover;
    font-family: 'Carter One', Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

header{
    background: black;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

h1{
    margin: 0;
    color: white;
}

main{
    width: 80%;
    margin: auto;
    padding: 20px;
    background: rgba(255,255,255,.8);
    display: flex;
    gap: 30px;
}

#imagenAhorcado{
    width: 400px;
}

#palabraOculta{
    height: 3em;
}

#palabraOculta span{
    height: 1.5em;
    vertical-align: bottom;
    font-size: 2em;
    border-bottom: 2px solid black;
    width: 30px;
    text-align: center;
    margin-right: 6px;
    display: inline-block;
}

#letras{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

#letras button{
    padding: 6px 0;
    width: 40px;
    color: #fff;
    font-family: 'Carter One', Arial, Helvetica, sans-serif;
}

#palabraRapida,#palabraAleatoria,#palabraEscrita{
    color: #fff;
    font-family: 'Carter One', Arial, Helvetica, sans-serif;
    margin-right: 5px;
}

#estadistica{
    margin-top: 10px;
}

#partidas{
    display: flex;
}

#ganados{
    margin: 0px 20px;
}